.main_container {
  margin-bottom: 4rem;
  width: 100%;
  height: 30rem;
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.centerBlock {
  text-align: center;
}

/* seperate line */
.main_container_1 > .centerBlock {
  width: 40%;
  height: 10rem;
  border: 2px solid white;
  margin: auto
}

/* seperate line */
.main_container_2 {
  position: relative;
}
.main_container_2 > .centerBlock {
  width: 40%;
  height: 10rem;
  border: 2px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* seperate line */
.main_container_3 {
  padding: 10rem 0;
}
.main_container_3 > .centerBlock {
  margin: auto;
  width: 40%;
  height: 10rem;
  border: 2px solid white;
}

/* seperate line */
.main_container_4 {
  line-height: 30rem;
  text-align: center;
}

/* seperate line */
.main_container_5 {
  position: relative;
}
.main_container_5 > .centerBlock {
  position: absolute;
  border: 2px solid white;
  width: 40%;
  height: 40%;
  top: 30%;
  left: 30%;
}

/* seperate line */
.main_container_6 {
  position: relative;
}
.main_container_6 > .centerBlock {
  border: 2px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30rem;
  height: 20rem;
  margin: -10rem 0 0 -15rem;
}

/* seperate line */
.main_container_7 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_container_7 > .centerBlock {
  border: 2px solid white;
}

/* seperate line */
.main_container_8 {
  width: 80rem;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.main_container_8 > .centerBlock {
  border: 2px solid white;
  display: inline-block;
}
